// Variables
$base-font-family: 'Avenir Next Cyr W00 Regular', 'HelveticaNeue-Light',
	'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
	sans-serif;

$base-line-height: 24px;

$mappedin-yellow: #fcac07;

$primary-red: #e60000;
$primary-green: #5cb85c;

$med-blue: #2e8aca;

$bl10: #e5f1ff;
$bl20: #cce4fe;
$bl30: #b2d7fe;
$bl70: #4ca1fc;
$blue: #007afb;

$o70: #ff834c;
$orange: #fc5000;

$p30: #ffbee4;
$p70: #ff67bf;
$pink: #ff28a5;

$red: #d44c4c;

$y30: #fff5b2;
$y50: #fff199;
$y70: #ffe84c;
$yellow: #ffdd00;

$disabled: #eeeeee;
